/* line 17, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/options.scss */
::-webkit-scrollbar {
  width: 8px;
}

/* line 11, ../sass/options.scss */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 15, ../sass/options.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #ccc;
}

/* line 20, ../sass/options.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: #eee;
}

/* line 23, ../sass/options.scss */
html {
  font-size: 14px;
}

/* line 24, ../sass/options.scss */
body {
  font-family: "Ubuntu","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #555;
  margin: auto;
  padding-top: 8px;
  max-width: 720px;
}

/* line 31, ../sass/options.scss */
p {
  line-height: 18px;
  margin: 12px 0;
}

/* line 32, ../sass/options.scss */
h1 {
  font-size: 32px;
  line-height: 48px;
}

/* line 33, ../sass/options.scss */
h2 {
  font-size: 24px;
  line-height: 28px;
}

/* line 34, ../sass/options.scss */
h3 {
  font-size: 16px;
}

/* line 35, ../sass/options.scss */
a {
  text-decoration: none;
  color: #792354;
}

/* line 39, ../sass/options.scss */
a:hover {
  text-decoration: underline;
}

/* line 44, ../sass/options.scss */
header {
  margin-bottom: 12px;
}
/* line 45, ../sass/options.scss */
header h1 {
  padding-left: 52px;
}
/* line 46, ../sass/options.scss */
header .logo {
  position: relative;
}
/* line 48, ../sass/options.scss */
header .logo img {
  position: absolute;
  top: 0;
}

/* line 55, ../sass/options.scss */
.pane {
  margin: 6px 0 24px;
}
/* line 57, ../sass/options.scss */
.pane .example {
  margin-left: 16px;
}
/* line 60, ../sass/options.scss */
.pane input[type="checkbox"] {
  margin: 0 8px 0 2px;
  vertical-align: middle;
}
